/* ==========================================================================
                                  HTML 
   ========================================================================== */

   html {
    
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  .link {
    text-decoration: none;
    color:rgba(222,182,140,1);
  }
  .mp3
  {
    background-color: rgba(222,182,140,1);
  }    
  /* ==========================================================================
                                  Mobile 
     ========================================================================== */

.textimg
{
    margin-top: 5%;
} 

 .centerpage
{
    margin-right: 10%;
    margin-left: 10%;  
}

.contact
{
  margin-top: 10%;
}

.copyright
{
  background-color: rgba(72,67,71,1);
  color:rgba(222,182,140,1);
  text-align: center;
  height: 10%;
  
}
footer
{
  position:absolute; 
  left: 0; 
  right: 0; 
}