/* ==========================================================================
                                  HTML 
   ========================================================================== */

   html {
    
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  .link {
    text-decoration: none;
    color:rgba(222,182,140,1);
  }
  .mp3
  {
    background-color: rgba(222,182,140,1);
  } 
  .line
  {
    
    color: rgba(222,182,140,1)
  }
  .hr-jumbotron
  {
    color: rgba(222,182,140,1)
  }
     
  /* ==========================================================================
                                  Mobile 
     ========================================================================== */

.textimg
{
    margin-top: 5%;
} 
.display-4
{
  color: white;
}
.lead
{
 color: white;
}
 .centerpage
{
    margin-right: 10%;
    margin-left: 10%;  
}
.definition-card
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
}
.card1
{
  justify-content: flex-end;
  text-align: center;
  border-color: rgba(222,182,140,1);  
  background-color: rgba(72,67,71,1);
  
}
.card2
{
  justify-content: flex-end;
  margin-top: 10px;
  text-align: center;
  border-color: rgba(222,182,140,1);  
  background-color: rgba(72,67,71,1);
 
}
.contact
{
  margin-top: 10%;
}
h5 {
    color: rgba(222,182,140,1);
}
.card-title {
    margin-bottom: .5rem;
}
.card-text {
    color: rgba(222,182,140,1);
}
.telmail
  {
      style:none;
      color: rgba(222,182,140,1);
  }
.copyright
{
  background-color: rgba(72,67,71,1);
  color:rgba(222,182,140,1);
  text-align: center;
  height: 10%;
  
}
footer
{
  position:absolute; 
  left: 0; 
  right: 0; 
}

  /* ==========================================================================
                                  DESKTOP
     ========================================================================== */

.definition-card
{
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap;  */
}
.card1
{
  
  float: right;
  text-align: center;
  
  
}
.card2
{
  float: left;
  text-align: center;
  
}